In [3]:
import pandas as pd
file_to_load = "cities.csv"
cities_df = pd.read_csv(file_to_load)

In [4]:
cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,charters towers,15,AU,1603323403,45,-20.10,146.27,84.22,11.92
1,1,yola,30,NG,1603323472,64,9.20,12.48,77.59,3.91
2,2,jacmel,75,HT,1603323211,83,18.23,-72.53,78.80,5.82
3,3,pec,36,XK,1603323473,46,42.66,20.29,37.40,1.90
4,4,vakhrushevo,40,RU,1603323473,80,55.23,61.72,30.20,8.95
...,...,...,...,...,...,...,...,...,...,...
567,616,hasaki,75,JP,1603323283,87,35.73,140.83,63.00,4.70
568,617,dwarka,0,IN,1603323697,66,22.24,68.97,81.54,8.66
569,618,urengoy,79,RU,1603323698,97,65.97,78.37,17.51,6.38
570,619,mahibadhoo,40,MV,1603323639,77,3.78,72.97,82.33,14.12
571,620,gomel,90,BY,1603323698,93,52.43,30.98,44.60,6.71

In [8]:
cities_df.to_html('cities_df.html', index=False)